# Pflicht
JWT_SECRET=hier-einen-zufaelligen-wert-mit-mindestens-32-zeichen-einsetzen
APP_ADMIN_PASSWORD=hierDeinPasswort

# Optional
APP_ADMIN_USERNAME=admin
DB_PASSWORD=xt50
ANTHROPIC_API_KEY=
JWT_EXPIRATION_MS=86400000
